
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: 400;


}


a {
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

}
